/* ...::: ESCRITORIO GRANDE (1366 PX EN ADELANTE) :::... */
@media(min-width:1200px){

}
/* ...:::  ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD 1024 PX)  :::... */
@media(max-width:1199px) and (min-width:992px){

}
/* ...:::: ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM 768 PX) :::... */
@media(max-width:991px) and (min-width:768px){

}
/* ...::: MOVIL (320 PX) :::... */
@media(max-width:767px){
  .main_container{
    padding: 0px;
    margin: 0px;
  }

  .contenedor {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top:10px;
    margin-bottom: 15px;
  }
}
