section {
  padding-top:50px;
  padding-bottom:30px;
}
#presentacion{
  padding-top:100px !important;
}
h3 {
  margin-top:20px !important;
  margin-bottom:20px !important;
}
#photo {
  max-width: 210px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.open-modal{
  cursor:pointer;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.img-porta{
  height: 135px;
  cursor:pointer;
}
.color-html{
  color: #FF5733!important;
}
.color-css {
  color: #007bff!important;
}
.color-javascript {
  color: #fed136 !important;
}
.color-php {
  color: #7D1DD2 !important;
}
.color-mysql {
  color: #71AEF0 !important;
}
.color-sqlserver {
  color: #FF0E0E !important;
}
footer{
  background-color:#212529;
  padding-top:20px;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  text-align: center;
}
