/* ==== GLOBAL === */
*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	font-family:'Ubunt',sans-serif;
}

i{
	margin-right: 3px;
}

/* === NAVBAR === */
#barraNavegacion div ul li a:hover{
  color:#000;
  text-decoration: underline;
}
#barraNavegacion div ul li a{
	font-family: 'Poppins', sans-serif;
}
#barraNavegacion{
	-webkit-box-shadow: -1px 3px 10px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 10px 5px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 10px 5px rgba(0,0,0,0.75);
}

/* === TABLA === */
#div_opciones{
	padding-bottom: 15px;
}
#formularioBuscar{
	margin-top:-50px;
}
#tablaPedidos{
	margin-top:-10px;
}
div div table thead{
	background-color: #3D3636;
}
div div table thead  tr th a{
	color:#FFF !important;
}
div div table thead  tr th a:hover{
	color:#0190BA !important;
}
/* --- Paginacion Tabla --- */
#navPaginacion{
	margin-top:-45px;
	display:none;
}
#formularioBuscar{
	display: none;
}

/* === Boton Eliminar Articulo de nuevopedido.php === */
#delItem{
	border-radius: 100%;
	width: 30px;
}

/* === NUEVA ORDEN === */
#tablaArticulosOrden{
	margin-top:20px;
}

/* === FOOTER === */
footer{

}
